<head>
  <!-- Ícones do Material Icons -->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
<main>
  <!-- Lado esquerdo: Formulário -->
  <section class="form-section">
    <img src="/assets/png/ifmtlogo2.svg" alt="Logo IFMT" class="logo" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <button class="login-button" (click)="submit()">
      {{ primaryBtnText }}
    </button>
    <div class="divider"><span>ou</span></div>
    <button class="signup-button" (click)="navigate()">
      {{ secondaryBtnText }}
    </button>
  </section>

  <!-- Lado direito: Imagem + Título -->
  <section class="main-section">
    <h1>Login IFMT</h1>
    <img src="/assets/png/ifmt.png" alt="IFMT" class="main-logo" />
  </section>
</main>
