<head>
  <!-- Ícones do Material Icons -->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
<main>
  <!-- Lado esquerdo: Formulário -->
  <section class="form-section">
    <img src="/assets/png/ifmtlogo2.svg" alt="Logo IFMT" class="logo" />
    <h2>Faça seu cadastro</h2>
    <div class="form-container">
      <div class="input-wrapper">
        <span class="material-icons">person</span>
        <input type="user" placeholder="Digite seu Nome" />
      </div>
      <div class="input-wrapper">
        <span class="material-icons">email</span>
        <input type="email" placeholder="Digite seu email" />
      </div>
      <div class="input-wrapper">
        <span class="material-icons">lock</span>
        <input type="password" placeholder="Digite sua senhal" />
      </div>

      <a href="#" class="forgot-password">Já tem conta?</a>

      <button class="login-button">Cadastre-se</button>
    </div>
  </section>

  <!-- Lado direito: Imagem + Título -->
  <section class="main-section">
    <h1>Login IFMT</h1>
    <img src="/assets/png/ifmt.png" alt="IFMT" class="main-logo" />
  </section>
</main>
